.footer {
  position: relative;
  background: $otherBlack;

  border-top: 4px $mainYellow solid;

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding: 8em 2em 8em 2em;
    /* 
        extra padding on bottom to create space for fixed header 
        bottom menu on mobile devices
    */
    @include tablet_sm {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include tablet_md {
      padding: 8em 2em 1em 2em;
    }
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0 0 0.5em 0;
  }

  hr {
    width: 70%;
    height: 2px;

    background-color: $mainOrange;

    margin-bottom: 2em;
  }

  &__social-media {
    margin-bottom: 4em;

    a + a {
      margin-left: 2em;
    }

    @include tablet_sm {
      width: 50%;
    }
  }

  &__contact {
    margin-bottom: 4em;

    @include tablet_sm {
      width: 50%;
      margin-bottom: 0.5em;
    }
  }

  &__legal-links {
    margin-bottom: 4em;

    ul li {
      text-align: center;
      margin-bottom: 1em;

      a {
        text-decoration: underline;
      }
    }

    @include tablet_sm {
      width: 100%;

      margin-top: 2em;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 4em;

    img {
      width: 55%;

      @include tablet_sm {
        width: 40%;
      }

      @include pc_sm {
        width: 33%;
      }
    }

    address {
      width: 200px;
      margin: 0;
    }
  }

  &__copyright {
    font-size: 0.75rem;

    hr {
      background-color: $lightYellow;

      @include tablet_sm {
        width: 95%;
      }
    }

    @include tablet_sm {
      width: 100%;
    }
  }

  &__credits {
    font-size: 0.75rem;
    color: $mainOrange;

    p {
      margin-bottom: 0;
    }

    @include tablet_sm {
      width: 100%;
    }
  }

  &__nav-up {
    display: none;

    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);

    @include pc_sm {
      display: block;
    }

    &__container {
      position: relative;
      width: 50px;
      height: 50px;

      opacity: 0.7;
      background-color: $mainYellow;
      border-radius: 50%;

      transition: all 0.5s ease-in-out;

      &:hover {
        opacity: 0.8;
        transform: scale(1.0125);
        background-color: $mainOrange;
      }
    }

    &__figure {
      position: absolute;
      left: 20%;
      top: -10%;

      border-top: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 25px solid #030303;
      border-left: 15px solid transparent;
    }
  }
}
