/*
    #########
    DEV NOTES
    #########

- mobile first approach
- landing class gets added through js on homepage only
- the navbar has two menu components: see _menu.scss & menu-pop-up.scss
*/

.header {
  position: absolute;
  bottom: 0;

  z-index: 3;

  width: 100%;

  background-color: $darkOrange;
  border-top: 2px solid $mainYellow;

  padding: 1em 0 0;

  @include tablet_md {
    bottom: unset;
    top: 0;

    background-color: transparent;
    border-top: unset;

    display: flex; // turns logo-container and navbar into flex items
  }

  &__logo-container {
    display: none;

    @include tablet_md {
      display: block;
      flex: 0 0 20%;

      padding: 0 2em;
    }
  }

  &__logo {
    width: 66%;

    &--hide {
      //hidden on landing page via JS to avoid duplication with hero section logo
      display: none;
    }
  }

  &__navbar {
    position: relative;
    width: 100%;

    padding: 1em 2em;

    @include tablet_md {
      width: unset;
      flex: 1;
    }

    &--js-small {
      padding: 0.25em 1em;
    }
  }
}
