/*
    #########
    DEV NOTES
    #########

- mobile first approach
- landing class gets added through js on homepage only
- the navbar has two menu components: see _menu.scss & menu-pop-up.scss
*/

.header {
  position: absolute;
  bottom: 0;

  z-index: 3;

  width: 100%;

  background-color: $darkOrange;
  border-top: 2px solid $mainYellow;

  padding: 1em 0 0;

  @include tablet_md {
    bottom: unset;
    top: 0;

    background-color: transparent;
    border-top: unset;
  }

  &__logo-container {
  }

  &__logo {
    display: none;
  }

  &__navbar {
    position: relative;
    width: 100%;

    padding: 1em 2em;
  }
}
