.hero {
  //see app.js: calc based on the actual size of the screen, without browser navigation

  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  &__wrapper {
    height: 100%;
  }

  &__content-container {
    height: 100%;

    @include tablet_sm {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 2em;
      height: calc(var(--innerHeight) - var(--menuHeight));
    }
  }

  &__cta {
    width: 100%;

    text-align: center;
    color: $lightYellow;

    padding: 2em 2em 0 2em;

    @include tablet_sm {
      width: 50%;
    }

    &__logo {
      max-width: 45%;
      margin-bottom: 1em;
    }

    &__heading {
      @include tablet_sm {
        margin-bottom: 2em;
      }

      &__title {
        font-size: 1.5em;
        color: $mainYellow;

        @include pc_sm {
          font-size: 2em;
        }
      }

      &__subtitle {
        font-size: 1em;
        color: $lightGrey;
        font-style: italic;

        @include pc_sm {
          font-size: 1.5em;
        }
      }
    }

    &__btn {
      display: none;

      @include tablet_sm {
        display: block;
        max-width: 12em;
        margin: 0 auto;
      }
    }
  }

  &__brand-image-container {
    position: relative;
    text-align: center;

    @include tablet_sm {
      width: 50%;
    }
  }

  &__brand-image {
    width: 69%;

    @include tablet_sm {
      width: 100%;
    }

    @include pc_sm {
      width: 66%;
    }
  }
}
