<!--    cookie consent pop-up   -->
<div class="cookie-consent cookie-consent--show">
  <p>
    Deze website maakt gebruik van cookies om je een zo goed mogelijke ervaring
    te bieden. Meer informatie vind je terug in ons privacy-beleid.
  </p>
  <div class="cookie-consent__btn-container">
    <a class="btn cookie-consent__btn" id="cookie-consent" href="#">Begrepen</a>
    <a
      class="btn btn--outline cookie-consent__btn"
      href="/beleid"
      target="_blank"
      >Privacy-beleid</a
    >
  </div>
</div>
