<!--    footer section   -->
    <footer>
        <div class="footer wrapper">
            <div class="footer__social-media">
                <h3>Volg ons op</h3>
                <hr>
                <a  href="http://www.facebook.com/dehalensegoudster" 
                    target="_blank" title="Goudster op facebook"
                    rel="noopener noreferrer"><i class="fab fa-facebook-square fa-3x"></i></a>
                <a  href="http://www.twitter.com/goudsterbier" 
                    target="_blank" title="Goudster op twitter"
                    rel="noopener noreferrer"><i class="fab fa-twitter fa-3x"></i></a>
            </div>
            <div class="footer__faq"> 
                <h3>Nog vragen?</h3>
                <hr>
                <div class="questions-contact">
                    <a href="/contact" title="Contacteer Goudster"><i class="fas fa-envelope-open fa-3x"></i></a>
                    <a href="/contact" title="Contacteer Goudster"><p>Contacteer ons!</p></a>
                </div>                  
            </div>
            <div class="footer__legal">
                <ul>
                    <li><a href="/beleid" title="Goudster privacy-beleid">Privacy-Beleid</a></li>
                    <li><a href="/voorwaarden" title="Goudster voorwaarden">Algemene Voorwaarden</a></li>
                </ul>
            </div>
            <div class="footer__address">
                <img src="/images/logo_goudster.gif" alt="Goudster Logo">
                <address>
                    Verenigde Brouwers<br>
                    Fonteinstraat 43, bus 2<br>
                    3545 Halen<br>
                    België
                </address>
            </div>
            <div class="footer__copyright">
                <p>Verenigde Brouwers &copy; 2014-2020 Alle Rechten Voorbehouden</p>
            </div>
            <a  class="footer__promo-link" href="https://www.jorisr.com" 
                title="Ga naar jorisr.com" rel="noopener noreferrer" 
                target="_blank">Webdesign en webbeheer door jorisr.com</a> 
            <a href="#">
                <div class="nav-up">
                    <div class="nav-up-figure"></div>
                </div>
            </a> 
        </div>
    </footer>
</body>
</html>