<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Site description -->
	<meta name="description" content="Goudster Bier uit Halen - Echt Oud
      Belgisch Bier!">
    <meta name="author" content="De Verenigde Brouwers">
    <title>Goudster, Echt Oud Belgisch Bier!</title>
    <!-- Scripts -->
    <script defer src="/scripts/app-bundle.js"></script>   
    <!-- Stylesheets -->   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Favicon -->
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
    <header>   
        <nav class="navbar">
            <ul class="menu">
                <li class="menu__link"><a href="/ons-verhaal"><i class="fas fa-history"></i>ons verhaal</a></li>
                <li class="menu__link"><a href="#"><i class="fas fa-location-arrow"></i>waar proeven</a></li>
                <li class="menu__link" id="toggle"><a href="#"><i class="fas fa-ellipsis-h fa-2x"></i></a></li>
            </ul>
            <ul class="menu__collapse">
                <li><a href="#"><i class="fas fa-location-arrow"></i>shop online (soon)</a></li>
                <li><a href="#"><i class="fas fa-beer"></i>info voor cafe's</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i>contact</a></li>
            </ul>          
        </nav>
    </header>