<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Site description -->
    <meta name="theme-color" content="#7A2800" />
    <meta
      name="description"
      content="Goudster Bier uit Halen - Echt Oud
      Belgisch Bier!"
    />
    <meta name="author" content="De Verenigde Brouwers" />
    <title>Goudster, Echt Oud Belgisch Bier!</title>
    <!-- Scripts -->
    <script defer src="/scripts/app-bundle.js"></script>
    <script
      src="https://kit.fontawesome.com/49d7940b9d.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheets -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
  </head>
  <body>
    <header class="header wrapper">
      <div class="header__logo-container">
        <a class="header__logo" href="/"
          ><img src="/images/logo_goudster.gif" alt="Goudster Logo" /><i
            class="fas fa-home"
          ></i
        ></a>
      </div>
      <nav class="header__navbar">
        <ul class="header__navbar__menu menu">
          <li class="menu__item">
            <a href="/ons-verhaal" class="menu__item__link-container"
              ><i class="fas fa-history"></i
              ><span class="menu__item__text">ons verhaal</span></a
            >
          </li>
          <li class="menu__item">
            <a href="/waar-proeven" class="menu__item__link-container"
              ><i class="fas fa-location-dot"></i
              ><span class="menu__item__text">waar proeven</span></a
            >
          </li>
          <li class="menu__item menu__item--icon-only" id="toggle-menu-pop-up">
            <a href="#" class="menu__item__link-container"
              ><i class="fas fa-ellipsis-vertical fa-2x"
                ><span class="menu__item__text"></span></i
            ></a>
          </li>
        </ul>
        <ul class="header__navbar__menu-pop-up menu-pop-up">
          <li class="menu-pop-up__item">
            <a
              href="/ons-verhaal"
              class="menu-pop-up__item__link-container"
              title="Ons verhaal"
              ><i class="fas fa-history"></i
              ><span class="menu-pop-up__item__text">ons verhaal</span></a
            >
          </li>
          <li class="menu-pop-up__item">
            <a
              href="/waar-proeven"
              class="menu-pop-up__item__link-container"
              title="Waar kan je Goudster vinden?"
              ><i class="fas fa-location-arrow"></i
              ><span class="menu-pop-up__item__text">waar proeven</span></a
            >
          </li>
          <li class="menu-pop-up__item" id="shop">
            <a
              href="#"
              class="menu-pop-up__item__link-container"
              title="Online bestellen"
              ><i class="fas fa-shopping-basket"></i
              ><span class="menu-pop-up__item__text">bestel online</span></a
            >
          </li>
          <li class="menu-pop-up__item">
            <a
              href="/info"
              class="menu-pop-up__item__link-container"
              title="Info voor horeca"
              ><i class="fas fa-beer"></i
              ><span class="menu-pop-up__item__text">voor horeca</span></a
            >
          </li>
          <li class="menu-pop-up__item">
            <a
              href="/contact"
              class="menu-pop-up__item__link-container"
              title="Contacteer ons"
              ><i class="fas fa-address-card"></i
              ><span class="menu-pop-up__item__text">contact</span></a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
