<section class="newsletter">
  <div class="newsletter__content-container wrapper">
    <div class="newsletter__heading heading">
      <i class="fas fa-newspaper fa-4x"></i>
      <h2>Goudster Nieuws</h2>
      <h3>
        Blijf op de hoogte van het laatste nieuws over Goudster en ontvang als
        eerste speciale kortingen!
      </h3>
      <hr />
    </div>
    <div class="newsletter__input-container">
      <form action="subscribe" method="post" class="newsletter__form">
        <input
          class="newsletter__form__input-email"
          name="email"
          type="email"
          placeholder="Jouw e-mail adres..."
          title="Gebruik een geldig e-mailadres"
          required
        />
        <div class="newsletter__form__consent-container">
          <p class="newsletter__form__consent-text">
            Ik wens sporadisch e-mails te ontvangen van de Verenigde Brouwers.
            <a href="/beleid" target="_blank" title="Goudster privacy-beleid"
              >Lees meer over ons privacy-beleid.</a
            >
          </p>
          <button class="btn newsletter__form__btn" type="submit">
            Aanmelden
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
