<section class="products">
  <h2 class="products__section-title">Onze producten</h2>
  <!-- bak, per zes, vat, glazen, bierkaarten -->
  <h2 class="products__section-title">Richtprijzen</h2>
  <p>
    De richtprijs voor een bak (24 flesjes van 33cl) is 43,5 EUR inclusief btw
    en leeggoed (8,5 EUR).
  </p>
</section>
