//general styles
.btn {
    padding: 1em 2em;
    background-color: $mainOrange;
    font-size: .75rem;
    border-radius: .25em;
    transition: all ease-in .3s;

}

.btn:hover {
    background-color: $darkOrange;
    transform: scale(1.05);
    outline: none;
}

//specific btn styles
.hero__cta .btn {
    width: calc(80% - 7em);
    margin: 0 auto;
    margin-top: 3em;
}