//general styles
.btn {
    padding: 1em 1.75em;
    background-color: $mainOrange;
    font-size: .75rem;
    border-radius: .25em;
    transition: all ease-in .3s;

}

.btn:hover {
    background-color: $darkOrange;
    transform: scale(1.05);
    outline: none;
}