* { 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: $mainBlack;
    color: $lightYellow;
}

a {
    text-decoration: none;
    color: $lightYellow;
}

a:focus {
    outline: $mainOrange solid .5px;
}

img {
    width: 100%;
    max-width: 100%;    // this avoids horizontal scrolling
    height: auto;  
}

ul {
    list-style-type: none;
}