.history {
    background-color: $backgroundOtherWhite;
}

.history__container {
    padding: 4em 2em;
    opacity: 0;
    transition: opacity ease-in-out .3s;

    &.reveal {
        opacity: 1; //intersectional observer api
    }
}

.history-section__heading {
    margin-bottom: 4em;
}

.image-link-container {
    text-align: center;
}

.image-link-container img {
    width: 80%;
    border-radius: 2em;
}

.image-link-container a:hover {
    cursor: pointer;
}

.image-link-container img:first-of-type {
    margin-bottom: 2em;
}

@media screen and (min-width: 768px){
    .history__container {
        display: flex;
        justify-content: center;
    }

    .history-section__heading{
        max-width: 400px;
    }

    .image-link-container {
        margin-left: 2em;
        max-width: 400px;
    }

    .image-link-container img {
        width: 50%;
    }
}