.policy {
  padding: 2em 1em;

  @include tablet_sm {
    padding: 2em 2em;
  }

  @include tablet_md {
    padding: 8em 2em;
  }

  &__content-container {
    width: 100%;

    @include tablet_sm {
      max-width: 55ch;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 1.5em;
  }

  &__section-title {
    font-size: 1.25em;
  }
}
