.location {
  padding: 4em 1em;

  @include tablet_sm {
    padding: 4em 2em;
  }

  @include tablet_md {
    padding: 8em 2em;
  }

  &__content-container {
    margin-bottom: 4em;
  }

  &__intro {
    @include tablet_md {
      max-width: 55ch;
      margin: 0 auto;
    }

    &__socials-insert {
      margin: 0 auto 4em;
    }
  }

  &__title {
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 1em;
  }

  &__section-title {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.25em;

    margin-bottom: 1em;
  }

  &__btn {
    display: block;
    width: 12em;
    margin: 0 auto;
    text-transform: capitalize;
  }

  &__map-container {
    text-align: center;

    margin: 0 auto 6em auto;
  }

  &__map {
    width: 100%;
    min-width: 250px;

    height: 100%;
    min-height: 500px;

    border: 2px solid $mainOrange;

    color: $mainOrange;
  }
}
