.contact {
  &__content-container {
    padding: 2em 1em;

    @include mobile_lg {
      padding: 2em 2em;
    }

    @include tablet_md {
      padding: 8em 2em;
    }
  }

  &__intro {
    margin-bottom: 4em;

    @include tablet_md {
      max-width: 75ch;
      margin: 0 auto 4em;
    }

    &__title {
      font-size: 1.5em;
      text-align: center;

      margin-bottom: 2em;
    }

    &__text {
      &__link > a {
        color: $mainOrange;
      }
    }
  }

  &__form {
    width: 100%;
    margin: 0 auto 4em;

    &__anti-spam {
      display: none;
    }

    &__content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      color: $textColor-dark;
    }

    &__input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;

      width: 100%;

      @include tablet_md {
        max-width: 55ch;
        margin: 0 auto 2em;
      }
    }

    &__label {
      text-transform: uppercase;
      font-weight: 600;

      color: $lightYellow;
      margin-bottom: 1em;

      &::after {
        content: "*";
        color: $mainOrange;
        padding-left: 0.5em;
        font-size: 0.75rem;
      }

      &[for="subject"]::after {
        display: none;
      }
    }

    &__input,
    &__select,
    &__textarea {
      background-color: $backgroundOtherWhite;
      padding: 1em;

      &:focus-within {
        outline: $mainYellow 0.1875em solid;
      }
    }

    &__input,
    &__select {
      max-width: 21em;
    }

    &__select {
      text-transform: capitalize;

      &:hover {
        cursor: pointer;
      }
    }

    &__consent-container {
      @include tablet_md {
        max-width: 55ch;
        margin: 0 auto 2em;
      }
    }

    &__consent-text {
      & > a {
        color: $mainOrange;
      }
    }

    &__submit-container {
      padding: 1em;
    }

    &__btn {
      // positioning in line with custom-checkbox
      position: relative;
      top: -0.1875em;
      font-weight: 700;
      font-size: 1em;
      text-transform: uppercase;
      color: $backgroundOtherWhite;

      margin-left: 4em;

      &[disabled] {
        opacity: 0.7;
      }
    }
  }
}
