.products {
  padding: 4em 1em;

  @include mobile_lg {
    padding: 4em 2em;
  }

  @include tablet_md {
    padding: 8em 2em;
  }

  &__content-container {
  }

  &__intro {
    margin-bottom: 2em;

    @include tablet_md {
      max-width: 75ch;
      margin: 0 auto 2em;
    }

    &__title {
      text-align: center;
      margin-bottom: 1em;
    }

    &__image-container {
      padding: 1em 0;

      @include mobile_lg {
        max-width: 21em;
        margin: 0 auto;
      }

      @include tablet_md {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 66%;
      }
    }

    &__image {
      border-radius: 0.3125em;
    }
  }

  // the contact form itself re-uses the styles from _page-contact.scss
  &__contact-container {
    @include tablet_md {
      max-width: 55ch;
      margin: 0 auto;
    }
  }

  &__contact {
    &__divider {
      background-color: $mainOrange;
      height: 0.1875em;
      width: 33%;

      margin-bottom: 2em;
    }

    &__text {
      &:last-of-type {
        margin-bottom: 2em;
      }
    }
  }
}
