.location {
    margin: 2em auto;
    width: 100%;
    padding: 1em 2em;
    text-align: center;

    .location__title {

        h1 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
    }
    .location__text {
        margin-bottom: 2em;

        h2 {
            color: $mainOrange;
            text-transform: uppercase;
            font-size: 1rem;
            margin-top: 2em;
        }

        p {
            line-height: 1.75;
        }

        a.btn {
            display: inline-block;
            text-transform: uppercase;
            margin: 2em;
        }
    }

    .location__map-container {
        width: 100%;
        min-width: 250px;
        height: 300px;
        margin: 0 auto 6em auto;
    }

    #map {
        width: 100%;
        height: 100%;
        border: 1px solid $mainOrange;
    }

    @media screen and (min-width: 768px){
        text-align: left;
        max-width: 650px;
        margin: 2em auto 0 1em;
    }

    @media screen and (min-width: 992px){
        .location__text {
            position: relative;
            
            a.btn {
                position: absolute;
                right: -50%;
                top: 50%;
            }
        }
    }
}

//Google Maps styles
#map {
    color: $mainOrange;
    h1 {
        font-size: 1rem;
    }
}