.privacy-bar {
    display: none;
    flex-direction: column;

    width: 75%;
    max-width: 350px;
    height: 60%;
    max-height: 300px;

    position: fixed;
    bottom: 15%;
    left: 5%;
    z-index: 20;

    padding: 1em;
    background-image: linear-gradient($mainOrange, $mainBlack);
    opacity: .95;
    border-radius: .25em;

    i {
        position: absolute;
        right: .5em;
        top: .5em;
    }

    p {
        font-size: .75rem;
        line-height: 1.75;
    }

    .btn {
        font-size: .75rem;
        margin-bottom: 1em;
        padding: 1em;
        width: unset;
    }
}

.privacy-bar.in-view {
    display: flex;
}

//if consent is set in local-storage hide
.privacy-bar.hide {
    display: none;
}