$backgroundWhite: #fff9f6;
$backgroundOtherWhite: #f6efeb;

$mainBlack: #010101;
$mainGrey: #555;
$lightGrey: #d8d8d8;
$otherBlack: #202020;

$textColor-dark: #2a2a2a;

$mainYellow: #feea00;
$lightYellow: #ffffc0;

$mainOrange: #f35000;
$darkOrange: #7a2800;
