$backgroundWhite: #FFF9F6;
$backgroundOtherWhite: #F6EFEB;

$mainBlack: #010101;
$mainGrey: #555;
$otherBlack: #202020;

$textColor-dark: #2A2A2A;

$mainYellow: #FEEA00;   
$lightYellow: #FFFFC0;   

$mainOrange: #f35000;
$darkOrange: #7A2800;       