.cookie-consent {
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;

  width: 100%;

  padding: 2em 1em;
  background-color: $mainBlack;
  border-radius: 5px 5px 0 0;

  &--show {
    display: flex;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;

    @include tablet_md {
      flex-direction: row;
      flex-flow: row-reverse;
    }
  }

  &__btn {
    width: 12em;
    margin-bottom: 1em;

    @include tablet_md {
      margin: 0 1em 0 0;
    }
  }
}
