<%- include('modules/_header'); %>
<div class="page-content">
    <div class="wrapper">
        <div class="policy-text-container">
            <h1>Algemene voorwaarden</h1>
            <p>De hierna vermelde algemene voorwaarden zijn van toepassing op de online bestellingen via de website. De klant dient steeds de algemene verkoopsvoorwaarden voor online verkoop te lezen en te bevestigen dat hij deze algemene verkoopsvoorwaarden aanvaardt, zo niet kan hij de bestelling niet afronden.</p>
            <p>De consument heeft het recht aan de verkoper mee te delen dat hij afziet van de aankoop, zonder betaling van een boete en zonder opgave van motief binnen de 14 kalenderdagen vanaf de dag die volgt op de levering van het product of het sluiten van de dienstenovereenkomst.</p>
            <p>Deze kennisgeving dient hij schriftelijk te doen op het adres van de verkoper, zoals hieronder vermeld.</p>
            <h2>1. Identificatie van de verkoper Goudster</h2>
            <p>De Verenigde Brouwers GCV, Fonteinstraat 43 bus 1, 3545 Halen</p>
            <p>BE 0518.932.380</p>
            <p>e-mail: <span class="span-email"></span><noscript>"Enable Javascript to see this content."</noscript></p>        
            <p>RPR: Hasselt</p>  
            <h2>2. Betalingsvoorwaarden en afhalen</h2>
            <p>Alle producten die via de website worden besteld moeten door de klant worden afgehaald op het adres dat bij de bestelling wordt meegedeeld. De klant beschikt over 30 werkdagen om zijn bestelling af te halen. Het afhalen van de bestelling kan enkel op de data die bij de bestelling worden vermeld.</p>
            <p>De klant betaalt het volledige verschuldigde bedrag op het moment van afhaling. Deze betaling kan zowel cash als elektronisch.</p>
            <p>Bij niet-tijdige afhaling door de klant van zijn bestelling is de klant een schadevergoeding verschuldigd ten bedrage van 10% van het aankoopbedrag, met een minimum van € 50.</p>
            <h2>3. Prijs</h2>
            <p>Alle prijzen vermeld op deze website zijn in euro en inclusief BTW.</p>
            <h2>4. Privacy</h2>
            <p>De verwerking en bescherming van persoonsgegevens is onderworpen aan een Privacy Policy. Deze Privacy Policy maakt integraal deel uit van deze Algemene Voorwaarden voor online verkoop.</p>
            <p>Gelieve het <a href="/beleid">privacy-beleid</a> aandachtig te lezen</p>
            <h2>5. Geldigheid, toepasselijk recht en geschillenbeslechting</h2>
            <p>Geschillen in verband met aankopen via de website vallen uitsluitend onder de bevoegdheid van de rechtbanken van het arrondissement Hasselt.</p>
            <p>De partijen aanvaarden, in het kader van hun betrekkingen, elektronische bewijsmiddelen (bijvoorbeeld : e-mail, gegevensback-ups,…).</p>
            <h2>6. Rechtsbekwaamheid</h2>
            <p>Door de aankoop van producten via deze website verklaart de klant minstens 18 jaar oud te zijn en wettelijk bevoegd om producten en diensten aan te kopen via deze website. De klant stemt er mee in dat hij aansprakelijk is voor alle financiële transacties in verband met het gebruik van deze website.</p>
            <h2>7. Aansprakelijkheid</h2>
            <p>De Verenigde Brouwers is niet aansprakelijk voor indirecte schade. De contractuele en extra-contractuele aansprakelijkheid van De Verenigde Brouwers is beperkt tot de waarde van de bestelde koopwaar.</p>
        </div>
    </div>
</div>

<%- include('modules/_footer'); %>