<%- include('modules/_header'); %> <%- include('modules/_flash-alert-msg'); %>
<div class="contact page-content wrapper">
  <div class="contact__content-container">
    <div class="contact__intro">
      <h1 class="contact__intro__title">Contacteer de Verenigde Brouwers</h1>
      <p class="contact__intro__text">
        Heb je vragen over Goudster of wil je graag een bestelling plaatsen?
        Contacteer ons dan via onderstaand contactformulier of stuur een e-mail
        naar
        <span class="contact__intro__text__link span-email"></span
        ><noscript>"Enable JavaScript to see this content."</noscript>
      </p>
    </div>
    <form class="contact__form" method="post" action="send">
      <div class="contact__form__anti-spam">
        <label for="yourMessage">Your Message</label>
        <input type="text" name="yourMessage" id="yourMessage" />
      </div>
      <div class="contact__form__content-container">
        <div class="contact__form__input-container">
          <label class="contact__form__label" for="name">Naam</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Jouw naam..."
            title="Jouw naam (verplicht)"
            required
            class="contact__form__input"
            autocomplete="name"
          />
        </div>
        <div class="contact__form__input-container">
          <label class="contact__form__label" for="email">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Jouw e-mail..."
            title="Jouw e-mail (verplicht)"
            required
            class="contact__form__input"
            autocomplete="email"
          />
        </div>
        <div class="contact__form__input-container">
          <label class="contact__form__label" for="subject">Onderwerp</label>
          <select
            name="subject"
            id="subject"
            title="Selecteer een onderwerp"
            class="contact__form__select"
          >
            <option value="bestelling">bestelling</option>
            <option value="vraag">vraag</option>
            <option value="varia">varia</option>
          </select>
        </div>
        <div class="contact__form__input-container">
          <label class="contact__form__label" for="message">Bericht</label>
          <textarea
            name="message"
            id="message"
            rows="10"
            placeholder="Jouw bericht...(max. 1200 karakters)"
            minlength="10"
            maxlength="1200"
            required
            title="Type jouw bericht (verplicht)"
            class="contact__form__textarea"
          >
          </textarea>
        </div>
      </div>
      <div class="contact__form__consent-container">
        <p class="contact__form__consent-text">
          Ik accepteer dat mijn gegevens kunnen worden opgeslagen en gebruikt
          voor het afhandelen van mijn verzoek.
          <a href="/beleid" target="_blank"
            >Lees meer over ons privacy-beleid</a
          >
        </p>
        <div class="contact__form__submit-container">
          <label for="consent" class="custom-checkbox">
            <input
              class="custom-checkbox__input"
              type="checkbox"
              id="consent"
              name="consent"
              required
            />
            <span class="custom-checkbox__span"></span>
          </label>
          <button class="btn contact__form__btn" type="submit">
            Versturen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.body.classList.add("contact-page");
</script>
<%- include('modules/_footer'); %>
