<%- include('modules/_header'); %>
<div class="timeline page-content wrapper">
  <div class="timeline__intro">
    <h1 class="timeline__intro__title">Ons Verhaal</h1>
    <p>
      Grasduin door meer dan 100 jaar geschiedenis van Goudster en de brouwerij
      Wauters uit Halen-Donk.
    </p>
    <p>
      Ontdek alles over de oprichting van de brouwerij, de rol van de brouwerij
      in WOI, het succes van Goudster, de onafwendbare teloorgang, en tot slot
      de wederopstanding van Goudster in 2013!
    </p>
  </div>
  <nav class="timeline__menu-container">
    <ul class="timeline__menu">
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part1"
          >De Beginperiode</a
        >
      </li>
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part2"
          >De Beginperiode (Vervolg)</a
        >
      </li>
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part3"
          >De Brouwerij in WO I</a
        >
      </li>
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part4"
          >De Brouwerij in WO I (vervolg)</a
        >
      </li>
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part5"
          >Van Vader op Zoon</a
        >
      </li>
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part6"
          >De Teloorgang van de Brouwerij</a
        >
      </li>
      <li class="timeline__menu__item">
        <a class="timeline__menu__item__link" href="#timeline-part7"
          >De Nieuwe Goudster</a
        >
      </li>
    </ul>
  </nav>
  <div class="timeline__content-container">
    <div
      class="timeline__item timeline__item--left fade-in"
      id="timeline-part1"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">De Beginperiode I</h2>
        <p>
          Bij de oprichting van de brouwerij lag ze administratief gezien in
          Donk, toen nog een aparte gemeente, maar nu een deelgemeente van
          Herk-de-Stad. Door haar ligging aan de brug over de Gete, pal op de
          grens tussen Donk en Halen, leunde ze praktisch echter veel meer aan
          bij deze laatste gemeente, zowel economisch als sociaal.
        </p>
        <p>
          Op haast alle publiciteitsmateriaal van de brouwerij zien we dan ook
          de beide vermeldingen ‘Donk Halen’ (of Donck Haelen, zoals het op de
          oudste Franstalige documenten nog luidt), hoewel de beide plaatsen
          officieel nooit bij elkaar gehoord hebben, ook vandaag niet.
        </p>
        <figure>
          <img
            src="/images/getebrug_halen_1920.jpg"
            alt="Foto van de Getebrug in Halen met het brouwershuis (1920)"
            title="Foto van de Getebrug in Halen met het brouwershuis (1920)"
            class="timeline__item__image"
          />
        </figure>
        <p>
          Op het einde van de 19de eeuw – het precieze jaar kennen we niet
          -kocht Joseph Wauters, geboren in Gingelom op 27 november 1862, de
          brouwerij van de Halense familie Vaes, gelegen aan de oever van de
          Gete op het grondgebied van Donk. Vermoedelijk was deze familie Vaes
          niet de eigenlijke stichter van de brouwerij, en heeft ze deze ook
          slechts enkele jaren uitgebaat want volgens gegevens die Manfred
          Friedrich vermeldt in zijn Brauereiverzeichnis Beigien (gebaseerd op
          Le Nouvel Annuaire Pratique de la Brasserie Beige), was tot 1895 een
          zekere J. Raymackers de eigenaar.
        </p>
        <p>
          Over de oorsprong en de vroegste jaren van wat thans bekend is als
          brouwerij Wauters, is niets terug te vinden. Wellicht was het niet
          meer dan een van de talrijke boerderijen-brouwerijen, zoals die in die
          tijd overal bestonden.
        </p>
        <p>
          Hoe dan ook, het is pas onder leiding van Joseph Wauters dat de
          brouwerij in de 20ste eeuw tot bloei zou komen. Het bedrijf werd
          gevoelig uitgebreid en ook uitgerust met een mouterij waarvan de
          karakteristieke toren tot op de dag van vandaag duidelijk herkenbaar
          is voor iedereen die op de drukke staatsbaan van Hasselt naar Diest
          passeert.
        </p>
      </div>
    </div>
    <div
      class="timeline__item timeline__item--right fade-in"
      id="timeline-part2"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">De Beginperiode II</h2>
        <p>
          Aanvoer van grondstoffen gebeurde niet alleen via de spoorweg
          Tienen-Diest die in 1878 was in gebruik genomen, maar ook deels via de
          tramlijn die in 1900 was aangelegd tussen Hasselt en Herk-de-Stad, en
          die in 1905 een vertakking kreeg naar Halen die voor de deur van de
          brouwerij passeerde.
        </p>
        <p>
          Joseph Wauters dacht ook al vroeg aan flessenbier, in aanvulling van
          het toen gebruikelijke vatenbier, want al in januari 1902 diende hij
          een aanvraag in tot
          <q
            >het plaatsen van toestellen om het bier te flesschen door pressing
            van acide carbonique</q
          >.
        </p>
        <p>
          Dat de zaken goed gingen en het wagenpark al snel moest uitgebreid
          worden blijkt ook uit de aanvraag die Joseph Wauters in oktober 1903
          deed voor het bouwen van een ‘remi-se pour voitures, le long de la
          route de Diest … sur le territaire de Donck près du pont sur la
          Ghète’.
        </p>
        <img
          src="/images/wauters_joseph.jpg"
          alt="Foto van Joseph Wauters"
          title="Foto van Joseph Wauters"
          class="timeline__item__image"
        />
        <p>
          Over de naam die Joseph Wauters aan zijn brouwerij gaf, bestaat enige
          onduidelijkheid. Naast <q>brouwerij Wauters</q> wordt soms ook wel de
          naam <q>brouwerij De Ster</q> gehanteerd. Mogelijk is deze naam echter
          pas ontstaan na de lancering van het meest populaire bier Goudster in
          1906. Oude jaargangen van de Nouvel Annuaire Pratique cie la Brasserie
          Beige, geraadpleegd door de hierboven al vermelde Manfred Friedrich,
          maken echter melding van de benaming ‘Brasserie Le Lion Beige’.
        </p>
        <p>
          Publiciteitsmateriaal met deze naam is ons echter volledig onbekend.
          Ook over de bieren die Joseph Wauters vóór de Eerste Wereldoorlog
          brouwde zijn weinig details terug te vinden. De namen Extra en Double
          zijn bekend, maar over de aard van deze bieren weten we eigenlijk
          niets. Mogelijk ging het om een blond (Extra) en een bruin (Double)
          tafelbier.
        </p>
      </div>
    </div>
    <div
      class="timeline__item timeline__item--left fade-in"
      id="timeline-part3"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">De Brouwerij in Wereldoorlog I</h2>
        <p>
          Van 1914 tot 1918 werd België geconfronteerd met het oorlogsgeweld en
          een Duitse bezetting. Ook de brouwerijsector deelde gevoelig in de
          klappen, niet in het minst door de opeising van het koper vanaf 1917.
          Van de meer dan 3300 brouwerijen, die voor de oorlog nog bestonden
          bleven er na de oorlog nog slechts zo’n 2000 over.
        </p>
        <p>
          Als men het heeft over de brouwerijen die het meest te lijden hadden
          onder de rechtstreekse vijandelijkheden, kijkt men meestal naar de
          bedrijven in de Westhoek. Allicht terecht, want zij lagen gedurende
          vier lange jaren in volle frontlinie. We mogen echter niet vergeten
          dat bij het begin van de oorlog, in augustus 1914, ook elders In het
          land brouwerijen geconfronteerd werden met de gewelddaden van de
          binnenvallende Duitse troepen. Zo ook de brouwerij Wauters in het
          Limburgse Halen/Donk.
        </p>
        <img
          src="/images/soldaat_1914_met _goudster.jpg"
          alt="Soldaat met flesjes Goudster"
          title="Soldaat met flesjes Goudster"
          class="timeline__item__image"
        />
        <p>
          Toen op 4 augustus 1914 de Duitsers ons land binnenvielen wist Joseph
          Wauters nog niet dat zijn brouwerij enkele dagen later zwaar in de
          klappen zou delen. Op 12 augustus 1914 was Halen immers het
          strijdtoneel van wat tot op de dag van vandaag bekend is als de ‘Slag
          der Zilveren Helmen’, de laatste veldslag die in de moderne
          oorlogvoering werd uitgevoerd met echte cavalerie (in casu een
          regiment Duitse ulanen).
        </p>
        <p>
          De brug over de Gete waar brouwerij Wauters lag was daarbij een
          strategische plaats. Al op 10 augustus hadden de eerste
          schermutselingen plaats: een groepje Duitse huzaren op verkenning was
          genaderd tot op enkele honderden meters van de Getebrug aan de
          brouwerij. Hevig geweervuur van het regiment Lanciers dat de brug
          verdedigde, verhinderde hen de door-tocht. Na dit incident werd de
          Getebrug gebarricadeerd, o.m. met voertuigen van de brouwerij Wauters
          en de even verderop gelegen brouwerij Loosen. Op 12 augustus
          lanceerden de Duitsers hun grote aanval met verschillende
          cavalerieregimenten onder leiding van generaal Von der Marwitz.
        </p>
      </div>
    </div>
    <div
      class="timeline__item timeline__item--right fade-in"
      id="timeline-part4"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">
          De Brouwerij in Wereldoorlog I (vervolg)
        </h2>
        <p>
          Uit het verslag van schoolmeester Achiel Vanyuchelen, die de
          gebeurtenissen op de voet kon volgen, citeren we volgende fragmenten
          over het verloop van de gevechten aan de Getebrug:
        </p>
        <blockquote class="timeline__item__blockquote">
          <q
            >Toen de kanonnen hun oorverdovend gebulder met dat van de geweren
            mengden, konden de Belgische karabiniers, die slechts met geweren
            gewapend waren, het niet langer aan de Getebrug volhouden. Ze deden
            rond 9 uur ’s morgens de brug over de Gete, evenals die over de
            Velp, springen. Als voorzorg hadden ze bij middel van een ladder,
            waarop planken waren gelegd, een smalle brug getimmerd over de Gete,
            achter de woning van brouwer Wauters. Het springen der Getebrug
            mislukte. Alleen aan de kant stroomopwaarts was ze zeer
            beschadigd.</q
          >
          (…)
        </blockquote>
        <blockquote class="timeline__item__blockquote">
          <q
            >De Duitsers moesten om de brug te herstellen de grote poorten van
            brouwerij Wauters over de Gete werpen en er zand en aarde over
            scheppen. Toen konden ze er met hun wagens over rollen. Om 10 uur
            stak Donk en omstreken vol soldaten. (…) De Duitsers hadden de villa
            van de heer Wauters in brand gestoken en tot puin geschoten. De
            stallen van de brouwerij ondergingen hetzelfde lot. Het brouwershuis
            werd in brand gestoken, ofschoon er een goed ingerichte zaal met
            bedden was ingericht en het Rood Kruis van ver zichtbaar was.</q
          >
        </blockquote>
        <p>
          Hoewel de Belgische troepen dus de Duitse doorbraak aan de Getebrug
          niet konden verhinderen, werd enkele kilometers verderop, ter hoogte
          van de hoeve IJzerwinning, de Duitse cavalerie wel een halt
          toegeroepen en zelfs teruggedreven. Pas op 18 augustus zouden ze Halen
          opnieuw kunnen veroveren en verder doorstoten.
        </p>
      </div>
    </div>
    <div
      class="timeline__item timeline__item--left fade-in"
      id="timeline-part5"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">Van Vader op Zoon</h2>
        <p>
          Na de zware gevechten van de eerste oorlogsdagen, kon Joseph Wauters
          zijn brouwerij opnieuw herstellen en weer opstarten. De rest van de
          oorlog werd hij wel geconfronteerd met alle beperkingen en maatregelen
          die de Duitse bezetter ook elders in het land oplegde. Maar het
          bedrijf overleefde de Eerste Wereldoorlog.
        </p>
        <p>
          Al voor de oorlog had Joseph in de brouwerij hulp gekregen van zijn
          zoon Rodolphe die in 1906 was afgestudeerd ais brouwingenieur. Tijdens
          het interbellum zou deze een steeds belangrijker rol gaan spelen en
          uiteindelijk de leiding volledig overnemen. Vader Joseph Wauters
          overleed op 22 september 1939.
        </p>
        <img
          src="/images/wauters_rodolphe.jpg"
          alt="Foto van Rodolphe Wauters"
          title="Foto van Rodolphe Wauters"
          class="timeline__item__image"
        />
        <p>
          Onder leiding van Rodolphe kende de brouwerij haar grootste bloei in
          de jaren ’30 van vorige eeuw. Op internet-websites vonden we
          verschillende biernamen uit die tijd terug, hoewel over de aard van
          die bieren geen informatie bekend is: Brun’Ale, Export, Export
          Superieur, Pils, Pilsex (wat laat vermoeden dat de brouwerij zich in
          die periode ook aan de lage gisting had gewaagd), Prim’Tout, Six-Ale
          421, Triple Solar en vooral Goudster.
        </p>
        <p>
          Dit laatste bier, gelanceerd in 1906 en gedeponeerd als merknaam op 13
          juni 1929, zou uiteindelijk het meest populaire bier van de brouwerij
          worden. Toch was het wellicht geen uitgesproken sterk of zwaar
          degustatiebier, maar meer een aangename dorstlesser. De vorm van de
          glazen waarin het geschonken werd – eerder een gewoon pilsglas dan een
          typisch degustatieglas – laten zulks althans vermoeden.
        </p>
        <p>
          Rodolphe Wauters was niet alleen een gepassioneerd brouwer, maar ook
          een man met een sterk sociaal engagement in de plaatselijke Halense
          samenleving. Zo was hij de medestichter van de toneelkring ‘Voor nut
          en vermaak’, waar hij als regisseur ook de leiding had over
          verschillende drama’s en blijspelen en zijn echtgenote Paula Carlens
          instond voor het grimeren en aankleden van de spelers.
        </p>
      </div>
    </div>
    <div
      class="timeline__item timeline__item--right fade-in"
      id="timeline-part6"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">De Teloorgang van de Brouwerij</h2>
        <p>
          Brouwerij Wauters overleefde zonder veel schade de Tweede
          Wereldoorlog, maar vanaf het midden van vorige eeuw begon de
          teruggang. De sterk groeiende populariteit van het pilsbier – tot 90%
          van het toen gedronken bier was pils – en de opkomst van steeds groter
          wordende <q>pilsfabrieken</q> betekenden de doodsteek voor heel wat
          kleine brouwerijen. In Limburg werd de brouwerij van Alken de
          dominerende speler die heel wat andere bedrijfjes overnam (en nadien
          sloot) of tot opgave verplichtte. Zo gebeurde het ook met brouwerij
          Wauters.
        </p>
        <img
          src="/images/oude_mouterij_wauters.jpg"
          alt="Archieffoto van de oude mouterijtoren in Halen"
          title="Archieffoto van de oude mouterijtoren in Halen"
          class="timeline__item__image"
        />
        <p>
          In 1961 zag Rodolphe Wauters het al niet meer zitten en verkocht hij
          zijn onderneming aan Jozef Maleux. Ook die kon echter maar enkele
          jaren standhouden en moest het noodgedwongen opgeven. In 1968 – andere
          bronnen houden het op 1972 – werd de vroeger florissante brouwerij
          opgeslorpt en stil-gelegd door de brouwerij van Alken.
        </p>
        <p>
          In Halen viel daarmee alle brouwactiviteit stil want in 1967 had ook
          brouwerij Loosen al de roerstokken neergelegd. Pas in 2012 kwam daar
          met de komst van brouwerij Anders! opnieuw verandering in.
        </p>
        <p>
          Na de stopzetting van de brouwactiviteiten werden de gebouwen gekocht
          door Jules Keldermans. Deze plaatselijke middenstander (hij werd
          geboren te Halen op 16 mei 1924) was in 1950 gestart met een
          meubelzaak en zag in de grote gebouwen van de voormalige brouwerij en
          mouterij een uitstekende locatie om zijn handel uit te breiden. In de
          loop der jaren werd de zaak uitgebouwd tot een gespecialiseerd bedrijf
          inzake meubilair en interieurinrichting dat faam heeft verworven tot
          ver buiten de eigen regio.
        </p>
        <p>
          Sedert intrek genomen werd in de voormalige brouwerij zijn heel wat
          uitbreidingen en vernieuwingen doorgevoerd, maar de familie Keldermans
          heeft er steeds aan gehouden de oorspronkelijke bestemming van de
          gebouwen niet te verdoezelen of te laten verdwijnen. Vooral de
          karakteristieke mouttoren met de <q>gek</q> op de hoge schouw trekt
          nog altijd de aandacht van de voorbijgangers.
        </p>
      </div>
    </div>
    <div
      class="timeline__item timeline__item--left fade-in"
      id="timeline-part7"
    >
      <div class="timeline__item__scroll-up">
        <a href="#">
          <i class="fa-solid fa-circle-chevron-up"></i>
        </a>
      </div>
      <div class="timeline__item__content-container">
        <h2 class="timeline__item__title">De Nieuwe Goudster</h2>
        <p>
          Wanneer bij een opruimactie In de oude magazijnen van de mouttoren
          enkele originele flesjes, met inhoud, worden teruggevonden begint het
          populaire bier van brouwerij Wauters in 2013 aan een nieuw leven. Een
          groepje Halenaars, onder wie de huidige zaakvoerders van het bedrijf
          Keldermans, verenigen zich in de commanditaire vennootschap De
          Verenigde Brouwers GCV, met het doel de Goudster opnieuw op de markt
          te brengen.
        </p>
        <p>
          Het oude recept werd als basis genomen, al was het niet niet mogelijk
          om een perfecte kopie van de vroegere Goudster te maken. De nieuwe
          Goudster is een volmoutbier (100%) van hoge gisting met hergisting op
          fles en zonder toevoeging van suikers en met een alcoholgehalte van 6
          vol. %. De gebruikte moutsoorten zorgen voor een amber kleur en een
          pittige afdronk.
        </p>
        <img
          src="/images/brouwerij_band_2.jpg"
          alt="Foto van de nieuwe Goudster flejes die van de band rollen"
          title="De nieuwe Goudster rolt van de band"
          class="timeline__item__image"
        />
        <p>
          Voor de ambachtelijke productie wordt een beroep gedaan op de nieuwe
          plaatselijke brouwerij Anders! aan de Stadsbeemdt in Halen.
        </p>
      </div>
    </div>
  </div>
  <div class="timeline__credits">
    <h3 class="timeline__credits__title">
      MET DANK AAN:<br />
      Casimir Eisen
    </h3>
    <p>
      Dit overzicht van de geschiedenis van Goudster en de brouwerij Wauters
      werd ook gepubliceerd in het tijdschrift van de Confederatie van de
      Belgische Objectieve Bierproevers, Zythos VZW, Zytholoog, nr 44.
    </p>
  </div>
</div>
<%- include('modules/_footer'); %>
