<%- include('modules/_header'); %>
<div class="hero-section">
    <div class="hero__image-container">
        <img src="/images/flesje_2_achtergrond-zwart.jpg" alt="Flesje Goudster Bier">
    </div>
    <div class="hero__logo-container">
        <img src="/images/logo_goudster.gif" alt="Goudster Logo">
    </div>
    <div class="hero__cta wrapper">
        <h1>&ldquo;STÈR&rdquo; uit Halen</h1>
        <h2>Echt Oud Belgisch Bier!</h2>
        <a class="btn" href="#">Bestel 'm nu!</a>
    </div>
    </div>
</div>
<%- include('modules/_footer'); %>