<%- include('modules/_header'); %>
<div class="page-content">

    <div class="info wrapper">
        <div class="info__title">
            <h1>Info voor horecazaken en drinkcentra</h1>
        </div>
        <div class="info__content">
            <div class="info__content-images">
                <img src="/images/bak_goudster.jpg" alt="Een bak Goudster flesjes">
                <img src="/images/flesje_en_glas_vol.jpg" alt="Een vol glas Goudster op een bierkaartje">
            </div>
            <div class="info__content-text">
                <p>Goudster bier is verkrijgbaar in flesjes van 33 cl (bak van 24) voor een richtprijs van 42,5 EUR, INCLUSIEF btw (21%) en INCLUSIEF 8 EUR leeggoed.</p>
                <p>Goudster kan ook worden geleverd op vaten van 20 L en kleinere packs van 6 flesjes.</p>
                <p>Speciale formules zijn bespreekbaar voor drinkcentra en horecazaken.</p>
                <p>Ook promotiemateriaal is verkrijgbaar met o.a. de authentieke Goudster glazen, de Goudster tafelkaart en bierkaartjes.</p>
            </div>
        </div>
        <div class="info__contact">
            <p>Goudster in uw horecazaak? Vul uw gegevens in via onderstaand contactformulier en wij bezorgen u zo snel mogelijk alle details.</p>
        </div>
    </div>
</div>
<%- include('modules/_footer'); %>