<%- include('modules/_header'); %>

<div class="page-content">
    <div class="wrapper">
        <div class="policy-text-container">
            <h1>Gebruiksvoorwaarden en Privacy-beleid</h1>
            <p>De Verenigde Brouwers GCV biedt u deze website (www.goudster.be) en de informatie erop aan op voorwaarde dat u, zonder enig voorbehoud, instemt met de gebruiksvoorwaarden op deze pagina.</p>
            <p>Informatie betreft alle teksten, alle fotografisch materiaal, afbeeldingen en andere grafische items, alle lay-out, sjablonen, templates en structuren die de constructie, de vorm en de inhoud van deze website uitmaken.</p>
            <h2>1. Aansprakelijkheid</h2>
            <p>De Verenigde Brouwers aanvaarden geen enkele aansprakelijkheid voor enige schade die zou kunnen voortvloeien uit het gebruik van deze website of van de informatie erop. De informatie op de website kan gewijzigd worden zonder voorafgaande verwittiging.</p>
            <p>De Verenigde Brouwers noch haar providers kunnen aansprakelijk worden gesteld voor eventuele storingen, fouten of onderbrekingen in de elektronische publicaties en verwante informatiediensten. Evenmin zijn zij aansprakelijk voor enige schade die het eventueel niet correct of onvolledig doorsturen van elektronische formulieren kan veroorzaken.</p>
            <h2>2. Gebruik beperkt</h2>
            <p>De gebruiker is niet gemachtigd om welke informatie dan ook die via deze website wordt bekomen op om het even welke manier en onder welke vorm dan ook te reproduceren voor niet-persoonlijke doeleinden of commercieel te exploiteren.</p>
            <p>Gebruik en reproductie van fotomateriaal en afbeeldingen – in bijzonder het gebruik van het logo – is uitdrukkelijk verboden zonder voorafgaande toestemming van De Verenigde Brouwers.</p>
            <p>De eigendomsrechten van deze site behoren toe aan de Verenigde Brouwers of aan de organisaties die De Verenigde Brouwers hiervoor binnen het kader van deze website toestemming hebben gegeven.</p>
            <p>Iedereen die materiaal van deze website wenst te gebruiken, dient contact op te nemen met De Verenigde Brouwers GCV, Fonteinstraat 43 bus 1, 3545 Halen via info@goudster.be</h2>
            <h2>3. Links en verwijzingen</h2>
            <p>Deze website bevat hyperlinks naar andere websites en verwijzingen naar andere informatiebronnen. De Verenigde Brouwers controleert deze websites en deze informatie niet systematisch. Het kan dus geen enkele garantie bieden aangaande de kwaliteit of volledigheid van deze informatie.</p>
            <p>Het aanbieden van deze hyperlinks impliceert niet dat De Verenigde Brouwers de informatie die deze bronnen bevatten, zou goedkeuren. Noch impliceert dit enige samenwerking tussen De Verenigde Brouwers en de uitbaters van deze sites.</p>
            <p>De Verenigde Brouwers aanvaardt geen enkele aansprakelijkheid voor enige schade die zou kunnen voortvloeien uit het consulteren van informatie die zich op andere websites of bij andere informatiebronnen bevindt waarnaar deze website verwijst.</p>
            <h2>4. Bescherming van de persoonsgegevens</h2>
            <p>De gegevens die De Verenigde Brouwers langs deze website van u ontvangt, worden opgenomen in bestanden van De Verenigde Brouwers.</p>
            <p>Om de website verder te verbeteren en onze dienstverlening te optimaliseren, verzamelen en analyseren wij anonieme gegevens over het gebruik van deze website. De verzamelde gegevens worden niet voor een ander doel gebruikt of aan derden ter beschikking gesteld.</p>
            <p>Het gaat onder meer om het tijdstip en de duur van uw bezoek en welke pagina’s u heeft bezocht. Wij gebruiken IP-adressen en cookies niet om u persoonlijk te identificeren. Onze cookies kunnen niet gebruikt worden om u op websites van derden identificeren.</p>
            <p>Persoonsinformatie wordt uitsluitend gebruikt voor de beantwoording van vragen of suggesties en voor het afhandelen van bestellingen.</p>
            <p>Indien u zich hebt aangemeld voor de nieuwsbrief middels het daartoe voorziene formulier worden de door u verstrekte gegevens opgenomen in onze database en kan u regelmatig e-mailberichten ontvangen over de activiteiten en promoties van De Verenigde Brouwers GCV.</p>
            <p>Overeenkomstig de wettelijke bepalingen over de verwerking van persoonsgegevens hebt u het recht om de gegevens over u te raadplegen en indien nodig te verbeteren. Schrijf daarvoor naar De Verenigde Brouwers GCV, Fonteinstraat 43 bus 1, 3545 Halen of mail naar <a href="mailto:info@goudster.be">info@goudster.be</a></p>
        </div>
    </div>
</div>
<%- include('modules/_footer'); %>